@font-face {
    font-family: "PF Centro Sans Pro";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/PFCentroSansPro-Bold.woff");
}

@font-face {
    font-family: "PF Centro Sans Pro";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/PFCentroSansPro-Regular.woff");
}

:root {
    --color-text-black: #000000;
    --color-backroubd: #ffffff;
}

html {
    height: 100px;
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

body {
    height: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-family: "PF Centro Sans Pro", sans-serif;
    color: var(--color-text-black);

}

.page{
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto; /* flex-grow: 1; flex-shrink: 0; flex-basis: auto; */
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: 0 0;
}